* {
    margin: 0;
}   
#innpakning {
    display: flex;
    height: 100vh;

}
body {
    overflow: hidden;
    

}
#innhold {
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(img/5877753.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#innhold h1{

    color: purple;
    text-shadow: rebeccapurple 2px 2px 3px;
}

.vare {
    width: 210px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;


}

img {
    width: 200px;
    height: 250px;
}

#butikk {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
#pwo_mengde {
    font-weight: bold;
}
#protein_mengde {
    font-weight: bold;
}
#airpods_mengde {
    font-weight: bold;
}
#roids_mengde {
    font-weight: bold;
}
#sarms_mengde {
    font-family: bold;
}
#sleeves_mengde {
    font-family: bold;
}
#creatine_mengde {
    font-family: bold;
}


#golden {
    color: gold;
}


#formue {
    color: purple;
}

