* {
    margin: 0;
}   
#innpakning {
    display: flex;
    height: 100vh;

}
#innhold {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vare {
    width: 210px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

img {
    width: 200px;
    height: 250px;
}

#butikk {
    display: flex;
    flex-direction: column;
}