<<<<<<< Updated upstream
* {
    margin: 0;
}

.vare {
    width: 210px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 200px;
    height: 250px;
}

#butikk {
    display: flex;
    flex-wrap: wrap;
=======
#header {
    
    
}
#innhold {
    display: flex;
    flex-direction: row;
}
#midt {
    height: 100vh;
    width: 500px;
    background-color: red;
}
#butikk {
    height: 100%;
    width: 300px;
>>>>>>> Stashed changes
}